*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding-bottom: 40px;
  box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-info{
  text-align: center;
  font-size: 10em;
}
.profile{
  margin-left: 10%;
  margin-top: 3%;
}

.profile-image {
  width: 300px;
  border-radius: 20px;
}

.first-year{
  padding: 20px;
  box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
  padding-bottom: 20px;
}

.first-year-tag{
  margin-left: 3.5%;
  padding-bottom: 20px;
}

.first-year-header{
  display: flex;
  justify-content: space-around;
}

.first-year-header-info-image{
  height: 300px;
  border-radius: 30px;
}

.second-year{
  margin-top: 20px;
  box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
  padding-bottom: 20px;
}

.second-year-tag{
  margin-left: 7%;
  padding-bottom: 20px;
  margin-top: 30px;
}

.second-year-header{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.second-main {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.second-vice {
  width: 600px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 5px 0px 5px;
}

.second-year-header-info-image{
  border-radius: 13%;
  height: 200px;
}

.media-planning-kfc{
  display: flex;
  justify-content: space-evenly;
}
.kfc{
  width: 370px;
  cursor: pointer;
}
.kfc:hover{
  transform: scale(1.6);
}

.second-year-header-info-image:hover{
  transform: scale(1.2);
}

.third-year{
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.third-year-tag{
  margin-top: 30px;
  margin-left: 7%;
  padding-bottom: 20px;
}

.third-year-header{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.third-year-header-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.third-year-header-mp3{
  margin-left: 40px;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mp3-detail{
  border: 2px solid black;
  padding: 10px 15px 15px 15px;
  border-radius: 15px;
  width: 500px;
  height: 350px;
}

.third-year-header-mp3-info{
  margin-top: 20px;
}

.uecof{
  border-radius: 50%;
}

.uecof:hover {
  transform: scale(1.23);
}

.uecof-main{
  width: 270px;
}

.third-year-uecof {
  margin-top: 50px;
}

.third-year-uecof-header{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.third-year-uecof-header-2{
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}
.third-year-mp4{
  display: flex;
  justify-content: space-evenly;
}

.interview{
  width: 200px;
  height: 170px;
  border-radius: 50%;
  margin-top: 20px;
}

.interview:hover{
  transform: scale(1.1);
}

.third-year-header-mp4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
video{
  margin-right: 20px;
}

.mp4-detail{
  border: 2px solid black;
  padding: 0px 20px;
  border-radius: 20px;
  width: 500px;
  height: 350px;
}

.uecof-footer{
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
}

.uecof-footer-snapshot{
  height: 500;
  width: 500px;
}
.uecof-footer-information{
  border: 2px solid black;
  padding: 0px 20px;
  height: 400px;
  width: 600px;
  border-radius: 20px;
}

.workshop {
  margin-top: 20px;
  padding-bottom: 50px;
}

.workshop-tag{
  margin-left: 7%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.workshop-info-tag{
  margin-left: 30px;
}

.workshop-info{
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;
  justify-content: space-evenly;
}
.workshop-info-image{
  height: 300px;
}

.workshop-info-zero{
  width: 600px;
  border: 2px solid black;
  padding : 0px 20px;
  border-radius: 30px;
}

.workshop-picture-up{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.workshop-picture-down{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.workshop-image-up{
  width: 400px;
}
.workshop-image-down{
  width: 400px;
}

.workshop-info-certificate{
  display: flex;
  align-items: center;
}

.uecof-main-tag{
  margin-left: 30px;
}


@media  (max-width : 700px){
  .header{
    display: flex;
    flex-direction: column;
  }
  .title-info{
    font-size: 4em;
    margin-top: 20px;
  }
  .p-tag{
    font-size: 0.8em;
  }

  .media-planning-kfc{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kfc{
    margin-top: 20px;
  }
  .second-year-tag{
    text-align: center;
    font-size: 2.5em;
  }
  .second-year-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .second-year-header-info-image{
    width: 120px;
    height: 120px;
  }
  .second-vice{
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .third-year-header{
    display: flex;
    flex-direction: column;
  }
  .third-year-tag{
    text-align: center;
  }
  .uecof{
    width: 150px;
    height: 150px;
  }
  .third-year-mp4{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .third-year-header-mp4{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .third-year-mp3-detail{
    margin-top: 30px;
  }
  .interview-tag{
    margin-top: 30px;
  }
  .interview{
    width: 180px;
    height: 150px;
  }
  .mp3-detail{
    width: 400px;
    height: 300px;
  }
  .third-year-header-mp4{
    text-align: center;
  }
  .ss{
    width: 250px;
  }
  .mp4-tag{
    text-align: center;
  }
  .mp4-detail{
    width: 350px;
    height: 250px;
  }
  .third-year-uecof-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .uecof-main{
    margin-top: 30px;
    width: 150px;
  }
  .uecof-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .uecof-footer-snapshot{
    width: 220px;
    height: 220px;
  }
  .uecof-footer-information{
    width: 350px;
    height: 300px;
    padding: 0 15px;
    margin-top: 30px;
  }

  .workshop-tag{
    text-align: center;
    font-size: 2.5em;
  }
  .workshop-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workshop-info-tag{
    text-align: center;
  }
  .workshop-info-zero{
    width: 350px;
    height: 270px;
    padding: 0 15px;
  }
  .workshop-info-certificate{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .workshop-info-image{
    width: 250px;
    height: 170px;
    margin-top: 30px;
  }
  .workshop-info-tag{
    margin: 0;
  }
  .workshop-picture-up{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workshop-image-up{
    width: 250px;
    height: 170px;
  }
  .workshop-footer{
    margin-top: 30px;
  }
  .workshop-picture-down{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workshop-image-down{
    width: 250px;
    height: 170px;
  }
}